__pycache__/
*.py[oc]
.vscode
build/
dist/
wheels/
*.egg-info
.venv

# Project files
data/*
!data/COD_dataset.py
!data/corruption_datasets.py
!data/README.md
!data/__init__.py
exploration/outputs/*
wandb
ddpo_logs
gradient_logs
kevin_scripts
eval_outputs/


